# Dependencies
node_modules/
pnpm-lock.yaml
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Reports
reports/
allure-results/
dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
